  .player {

      display: block;
      opacity:0.75;


  }

  .player .playarea {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50px;
      width: 150px;
      transform: translate(-50%, -50%);
      opacity: 1;
      /*    margin-top: -63px;
    margin-left: -160px;*/
  }

  .player .playarea div {
      display: inline-block;
  }

  .player .playarea .play {
    cursor: pointer;
    opacity: 0.85;
    vertical-align: middle;
    margin: 0 10px;
    /* border: 2px solid #FE4365; */
    border: 5px solid white;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background: url(../img/play.png) 14px 9px no-repeat;
    background-size: 30px 32px;

  }

  .player .playarea .pause {
    cursor: pointer;
    opacity: 0.85;
    vertical-align: middle;
    margin: 0 10px;
    /* border: 2px solid #FE4365; */
    border: 5px solid white;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background: url(../img/pause.png) 10px 9px no-repeat;
    background-size: 30px 35px;
  }

  .player .playarea .prevSong {
      cursor: pointer;
       background: url('../img/pre2.png') 0 0 no-repeat;
        }

  .player .playarea .nextSong {
      cursor: pointer;
      background: url('../img/next.png') 0 0 no-repeat;

       }


  .player .plus {
      top: 30px;
      background: url('../img/plus.png') 0 0 no-repeat;
  }

  .player .minus {
      cursor: pointer;
      position: absolute;
      left: 50%;
      bottom: 30px;
      height: 50px;
      width: 150px;
      transform: translate(-50%, 0);
      background: url('../img/minus.png') 0 0 no-repeat;
        }



  .player .plus,
  .player .minus {
      cursor: pointer;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      vertical-align: middle;
      background-size: 30px 25px;
      width: 30px;
      height: 25px;
  }



  .player .playarea .prevSong,
  .player .playarea .nextSong {
      vertical-align: middle;
      background-size: 30px 25px;
      width: 30px;
      height: 25px;
  }

  .player .playarea .prevSong:hover,
  .player .playarea .nextSong:hover,
  .player .playarea .pause:hover,
  .player .playarea .play:hover,
  .player .soundControl:hover,
  .player .plus:hover,
  .player .minus:hover {
      opacity: 0.5;
  }