{% extends 'index-base2.html' %}
{% block content %}
        <div id="main">
            <div class="content">
            <form id="signup" method="post" autocomplete="false">
                <h3 style='text-align: center'>Sign in!</h3>
                <div class="underline"></div>
                <div style='color:red'> {{error_msg}} </div>
                <label for="name">Name</label>
                <input class="text" name="username" id="username" class="form-control" type="text" placeholder="Username" required autofocus>
                <label for="password">Password</label>
                <input class="password" type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                <div>
                    <input type="submit" name="submit_reg" class="login login-submit btn" value="Submit">
                </div>
                <div class="login-help">
                    Don't have an account yet?  <a href="/register" style='color:#77C7AC'>Register</a> 
                </div>
            </form>
            </div>
        </div>
 {% endblock %}