{% extends 'index-base.html' %}
{% block content %}

        <div id="main">
            <div class="content">
                <form id="signup" name="signup" method="post">
                    <h3 style='text-align: center'>Sign up!</h3>
                    <div class="underline"></div>
                    <div style='color:red'> {{error_msg}} </div>
                    <label for="name">Name</label>
                    <input class="text" name="username_reg" id="username_reg" class="form-control" type="text" placeholder="Username" required autofocus>
                    <label for="email">Email</label>
                    <input class="text" type="email" name="email_reg" id="email_reg" class="form-control" placeholder="Email" required>
                    <label for="password">Password</label>
                    <input class="password" type="password" name="password_reg" id="password_reg" class="form-control" placeholder="Password" required>
                    <div>
                        <input type="submit" name="submit_reg" class="login login-submit btn" value="Submit">
                    </div>
                    <div class="login-help">
                        Already have a account? <a href="/login">Sign in</a>
                    </div>
                </form>
            </div>
        </div>
 {% endblock %}