{% extends 'index-base.html' %}
{% block content %}
        <div id="main">
            <div class='row' style='margin-top:10px'>
                <div class="col-md-5" style='float: right; margin-right:20px'>
                    <div class="input-group">
                        <input type="text" id="album_name" class="form-control" placeholder="Add Album">
                        <span class="input-group-btn">
                            <button class="btn btn-default filter_btn album_add_btn" type="button">Add</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="container-fluid gallery">
                {% if albums is defined %} {% for album in albums %}
                <div class="grid-item">
                    <a class="grid-a" href="{{ url_for('gallery', album_name=album, owner_name=session['user_curr']) }}">
                        <img class="albumImg" src='https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Closed_folder_open_add_upload.png' onmouseover="this.src='https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Open_folder_blue_upload_yellow.png';" onmouseout="this.src='https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Closed_folder_open_add_upload.png';" alt="album {{ album }}" title="Album {{ album }}" />
                        <div class="centered">{{ album }}</div>
                    </a>
                    <button class="btn  album_del_btn" data-albumname="{{ album }}">Delete</button>
                </div>
                {% endfor %} {% else %}
                <div class="col-lg-3 ">
                    <div class="col-lg-3 ">
                        <p class="alert alert-info ">No Album Found</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- load album js -->
        <script type="text/javascript " src="../../static/new/js/album.js?ver=0127s "></script>
  {% endblock %}