body {
    background-color: rgba(56, 182, 230, 0.6);
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
}




/* for navigation */

.nav_div {
    top: 0;
}

.nav_div nav {
    padding: 0;
    width: 100%;
    background-color: steelblue;
}

.nav_div a.navbar-brand {
    font-size: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
}


.navbar-brand,
.navbar-nav .nav-link {
    font-size: 1.2em;
    background-color: transparent;
    color: black;
    display: table-cell;
    font-weight: 400;
    vertical-align: middle;
    width: 160px;
    height: 110px;
}



.content .gallery {
    padding-left: 0;
    padding-right: 0;
}

.tm-brand-icon {
    font-size: 2.5rem;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
}






/* footer */

.footer {
    width: 100%;
    color: white;
    z-index: 100;
    background-color: steelblue;
    font-size: 10px;
}




/* Gallery */

.grid-item {
    float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: inline-block;
}

.tm-copyright-text {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    padding: 30px;
    width: 100%;
}

.tm-copyright-text a {
    color: black;
}



.grid-item .btn {
    background-color: indianred;
    color: white;
    font-size: 16px;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    position: absolute;
    margin: 3%;
    top: 0%;
    right: 0%;
    color: white;
    cursor: pointer;
    z-index: 100px;
}



.grid-item a canvas {
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: brightness(80%);
}


.grid-item:hover a canvas {
    -moz-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    filter: brightness(100%);
}

.grid-item:hover .btn {
    opacity: 1;
}


.checkboxtext {
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}



input[type=checkBox] {
    /* Double-sized Checkboxes */
    padding: 10px;
    width: 15px;
    -o-transform: scale(1.5)translate(0, 15%);
    -moz-transform: scale(1.5)translate(0, 15%);
    -ms-transform: scale(1.5)translate(0, 15%);
    -webkit-transform: scale(1.5)translate(0, 15%);
    transform: scale(1.5)translate(0, 15%);
    zoom: 1.5;
}



.grid-items {
    position: relative;
    overflow: hidden;
    width: 25%;
    display: inline-block;
    float: left;
}

.modal-dialog {
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}


.grid-item a .albumImg {
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: brightness(90%);
}


.grid-item:hover a .albumImg {
    /*        -moz-transform: scale(2, 2);
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        filter: brightness(100%);*/
}

.grid-item {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    color: black;
    font-size: 50px;
    font-weight: 200;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
    text-shadow: 2px 2px white
}

.grid-item:hover .centered {
    font-size: 100px;
    text-shadow: 5px 5px grey
}

.login_indi {
    float: right;
    margin: 20px;
    font-size: 25px;
    /*font-weight:3000;*/
    color: white;
}

@media only screen and (min-width: 800px) {
    .grid-item {
        width: 50%;
    }
}

@media only screen and (min-width: 1063px) {
    .grid-item {
        width: 25%;
    }
}